.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1;
    background-color: rgba(72, 61, 139, 0.2);
    /*background-color: #16031c;*/
    padding: 1%;
    overflow-y: auto;
}
.header{
    min-height: 30px;
    /*background-color: #24052d;*/
    background-color: darkslateblue;
    padding: 2%;
}
.footer{
    min-height: 30px;
    /*background-color: #24052d;*/
    background-color: darkslateblue;
    padding: 2%;
}
