.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all .5s;
}
.main{
    flex: 1;
    background-color: var(--background-main);
    padding: 1%;
    overflow-y: auto;
}
.header, .footer{
    min-height: 30px;
    background-color: var(--background-header-footer);
    padding: 2%;
}


