.movieListWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: fit-content;
}
.buttonsWrapper{
    display: flex;
    justify-content: center;
    gap: 1%;
}
.buttonsWrapper button {
    background-color: var(--background-header-footer);
    border: 1px solid var(--text);
    border-radius: 7%;
    color: var(--text);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20%;
}

.buttonsWrapper button:hover {
    background-color: var(--text);
    border: 1px solid var(--background-header-footer);
    color: var(--background-header-footer);
    cursor: pointer;
}

.pagination button:disabled {
    background-color: gray;
    cursor: not-allowed;
}